archive/config.py
playground.py
playground2.py
scrip_db.py
sql_executer.py
test.csv
constants.py
creds.py
*.pyc
.env

_secrets/*
__pycache__/*
venv/*
.idea/*
.vscode/*
archive/*.env
QUOTAGUARD-LICENSE.txt

