archive/config.py
playground.py
playground2.py
scrip_db.py
sql_executer.py
test.csv
creds.py
*.pyc
.env

sql/agg_core_kpis_daily/NEW_QUERY_TEST.sql

_secrets/*
__pycache__/*
venv/*
venv_py
.idea/*
.vscode/*
archive/*.env
playgrounds/*
QUOTAGUARD-LICENSE.txt

