[submodule "submodules/gcloud_storage_py"]
	path = submodules/gcloud_storage_py
	url = https://github.com/tmation/gcloud_storage_py.git

[submodule "submodules/appfigures_py"]
	path = submodules/appfigures_py
	url = https://github.com/tmation/appfigures_py.git
